.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/*utilyti*/
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

/*jumbotron*/
.jumbotron {
    background-image: url(../images/umi.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.jumbotron .display-4 {
    color: #fff;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(175, 41, 41);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(175, 41, 41);
}

/* testimonial */
.testimonial {
    margin-top: 100px;

}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    width: 60px;
    height: 60;
    margin: 50px 20px 5px;
    opacity: .6;


}

.testimonial figure img.utama {
    width: 90px;

    opacity: 1;
    margin-top: 5px;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: hsl(230, 3%, 57%);

}

.testimonial figure p {
    font-size: 12px;
    margin-top: -5px !important;
    color: #acacac;
}

.testimonial figcaption {
    text-align: center;
}



#footer .container-fluid {
    margin-top: 100px;

    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 60px 0 40px;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    font-size: 18px;
}

.footer a {
    color: white;
    text-decoration: none;

}


#konten .row {
    margin-right: 20px;

}















/*desktop version*/

@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .dropdown-toggle {
        color: #fff;
    }

    .dropdown:hover {
        color: #fff;
        text-decoration: none;
    }

    .navbar-brand,
    .nav-link {
        color: #fff !important;
        text-shadow: 1px 1px 1px #411b1b;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(24, 22, 187);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;

    }

    .jumbotron {
        background-image: url(../images/umi.jpg);
        background-size: cover;
        height: 640px;
        margin-top: -75px;
        height: 640px;
    }

    .testimonial h5 {
        font-size: 32px;
    }
}